<div style= "background-color:aliceblue; width: 60%">
    <div>
        <h3>Covid 19 has impacted the foot fall to the NGOs and they are in real need of your support. You can help by
            online oredering of below listed goods to the either of these two BGO's of your choice.</h3>
            
         <h4>-Omasharm provides residential care with full boarding and lodging facility to the old with medical care and nursing care(above 60 years of age)</h4>
         <h4>-Voice of needy foundation Empowering disabled people through Early intervention, skill development and community program.</h4>
         <h4>Rice, Oil, Coffee Powder, Broken wheat, Suji, Tea, Daal, Pulses, Papad, Dry Cocunut, Jaggery, Channal Daal, Fried Grams, Wheat, Jeera, Green Peas, Moong Daal, Chilly Powder, Black Pepper"</h4>
    </div>
</div>