.border1{
    border-radius: 5px; 
    border: 2px solid darkslategray;
}

.bolder{
    font-family: bolder;
}

.textSize{
    font-size: 16px;
}

.color1{
    color: coral;
}

.border2{
    background-color: darkolivegreen; border-radius: 5px; margin:5px; padding-left: 1px;
}

.color2{
    color: white;
}