<div style= "background-color:aliceblue; width: 60%">
    <div>
        <h3>Covid 19 has impacted the foot fall to the NGOs and they are in real need of your support. You can help by
            online oredering of below listed goods to the either of these two BGO's of your choice.</h3>
            
         <h4>-Omasharm provides residential care with full boarding and lodging facility to the old with medical care and nursing care(above 60 years of age)</h4>
         <h4>-Voice of needy foundation Empowering disabled people through Early intervention, skill development and community program.</h4>
         <h4>Rice, Oil, Coffee Powder, Broken wheat, Suji, Tea, Daal, Pulses, Papad, Dry Cocunut, Jaggery, Channal Daal, Fried Grams, Wheat, Jeera, Green Peas, Moong Daal, Chilly Powder, Black Pepper"</h4>
    </div>
</div>


<div style= "background-color:aliceblue; width: 60%">
    <div>
        <b><h3>Remote Volunteering Engagement Activities with ILP:Question Bank Activity</h3></b>
            
         <h4>ILP has created digital lesson plans using MS Powerpoint for all chapters in Maths, Science and Social Science for Standard 5 to 10 that are currently being used by teachers in the 700+ schools where we work. Along with the textbook content, these PPTs contain interesting videos and visuals that make the class interesting for the students.  </h4>

           <h4>Objective is to supplement this lesson plan PPT with some interesting questions that the teachers can ask in the class to help students think critically about new things, and also help revise the syllabus covered. We have added questions from the textbook to the PPTs and would like your help in researching and adding more questions. </h4> 
       <h4> We expect our digital content to be made available on Diksha portal (https://diksha.gov.in/explore) soon, which children across the country access through the QR code given in their textbooks, so the impact that Dell volunteers create is not just for Karnataka but potentially for several states! 

        We will share the text books, excel sheet with lesson names and numbers, folders to upload the questionnaire word file/ PPT.  
        </h4>
    </div>
</div>


<div style= "background-color:aliceblue; width: 60%">
    <div>
        <b><h3>Dell-5 Plantation event</h3></b>
            
         <h4>The opportunity to welcome FY21 Month 1 – Feb with an exclusive event for the Dell-5 Team. 
            An opportunity to plant close to 5000 Saplings 1-3 days, probably consecutive 2 days or 3 days with 250+ team members every day.
            </h4>
            <h4>
               <ul>
                   <li>Probable date: 12th and 13th Feb 2020 or 17th & 18th Feb (Will confirm shortly)</li>
                   <li>Venue: Bidadi</li>
                   <li> Transport: Will be arranged by the NGO partner from Dell 4, Dell5 and Dell6.</li>
                   <li>Breakfast & Lunch: Will be provided by the NGO Partner</li>
               </ul>
            </h4>
    <div style= "background-color:aliceblue; width: 60%">
        <h4>The location as shared is as follows:

         <h4> IRIDM Bengaluru <br>
            Bengaluru, Karnataka 560074 <br>
            https://maps.app.goo.gl/Uhn43xjhPGcuF7Xq6 <br>
            
            It is on the Mysore Road @ Bidadi to plant 5k Saplings. <br>
            
            Please vote for your participation and watch this space for more details. <br>
            </h4>
    </div>
    
    </div>
</div>

<div style= "background-color:aliceblue; width: 60%">
    <div>
        <h3>Diya painting this festive season for a cause!!!</h3>
            
         <h4>There is the season where we can paint diya’s and help the Charity to raise funds for a cause.
            We will be helping the Alfaa Charity - ALFAA is Assisted Living for Autistic Adults. </h4>
         <h4>-The primary objective of ALFAA was to create good quality living conditions and related facilities for adults with Autism in India.</h4>
         <h4>They will raise funds by selling the diyas.  
            Let’s come together and do our best to help the charity.</h4>
        <h4>Date: 9th and 10th October</h4>
        <h4>Location: Srinagar Conference Room</h4>
        <h4>Time: 11 AM onwards</h4>
    </div>
</div>



<div style= "background-color:aliceblue; width: 60%">
    <div>
        <h3>Dell Progress Made Real : Seed Ball Making event</h3>
            
         <h4>TPlease register for the event by downloading “Self4society” app from google paystore 
         <h4> -	Register with your mobile number </h4>  
         <h4> -	Enter the OTP </h4>  
         <h4> -	Fill in your Dell email id </h4>  
         <h4> -	Corporate code LEDV1707 </h4>  
         <h4>-	Scan the QR code from the App </h4>  

        </h4>
            
    </div>
</div>

  