<div class="main-div">
    <div class="img-div" style="background-image: url(assets/about.jpg);">

    </div>
    <div class="about-div">
        <div class="content">
            <h2> About <b><span style="font-weight: bolder;">One-click Manager</span></b></h2>
            <p class="desc">An interface that allows DELL users to create or register themselves for events related to
                <b>CSR,
                    Seminars, Technical Training, Hackathons, Sports, Festivals or Outings and many more.</b> It also
                allows user to create custom events based on their requirements.</p>

            <div class="clr-row" style="margin-top:2rem">
                <div class="clr-col">
                    <div class="cb-cont" (click)="onDashboard()" style="margin-left: 250px;">
                        <span class="cb-text">Dashboard</span>
                    </div>
                </div>
                <div class="clr-col">
                    <div class="cb-cont" (click)="onFaq()">
                        <span class="cb-text">FAQ's</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>