<div [@filterAnimation]="banner_event.length" class="main-div">
    <div *ngFor='let i of countArray'>
        <div *ngFor="let event of banner_event">
            <div class="bg-div" [style.backgroundImage]="'url('+event.bg.bgImage+')'">
                <div [ngStyle]="event.event_name.style">
                    {{event.event_name.title}}
                </div>
                <p [ngStyle]="event.event_description.style">
                    {{event.event_description.title}}
                </p>

                <div [ngStyle]="event.event_details.style">{{event.event_details.title}}</div>
                <div class="timer-display">
                    <timer [eventDate]="event.event_date"></timer>
                </div>
            </div>
        </div>
    </div>
</div>
