<div class="main-div">
    <div class="bg-pos" [style.backgroundImage]="'url('+item.bg+')'"></div>
    <div class="title">
        <p class="title-font">{{item.info.name}}</p>
    </div>
   
    <div class="clr-row pos" *ngIf="item.info.description">
        <div class="clr-col-7" *ngIf="item.info.description">
           <div class="descri">
            <h3 style="font-weight: bolder;">{{item.info.description}}</h3>
            <h4> Venue:- {{item.info.venue}}</h4>
            <h4> Date:- {{item.info.endDate}}</h4>
           </div>

            <h3 (click)="openRegister = !openRegister" style="color: Green">
                <clr-icon size="24" shape="angle right" *ngIf="!openRegister"></clr-icon>
                <clr-icon size="24" shape="angle down" *ngIf="openRegister"></clr-icon>
                <span style="font-weight: bolder;"> Register Now</span>
            </h3>

            <div *ngIf="openRegister">
                <div class="reg-form-dis">
                    <form clrForm class="form-dim">
                        <div class="clr-form-control clr-row">
                            <label for="name" class="clr-control-label clr-col-4">Name</label>
                            <div class="clr-control-container clr-col-8">
                                <div class="clr-input-wrapper">
                                    <input type="text" id="name" name="name" placeholder="Name"
                                        class="clr-input input-width" [(ngModel)]="register.name" required>
                                </div>
                            </div>
                        </div>
                        <div class="clr-form-control clr-row">
                            <label for="textarea" class="clr-control-label clr-col-4">Contribution</label>
                            <div class="clr-control-container clr-col-8">
                                <div class="clr-textarea-wrapper">
                                    <textarea id="textarea" placeholder="Description" name="description"
                                        [(ngModel)]="register.desc" class="clr-textarea textarea-dim"></textarea>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-outline marginTop" (click)="success=true">Submit</button>
                        <div *ngIf="success" style="color: green;">
                            <clr-icon shape="check-circle"></clr-icon>
                            <span>Submitted Successfully.</span>
                        </div>
                    </form>
                </div>
            </div>

            <h3 (click)="openQuery = !openQuery" style="color: Red">
                <clr-icon size="24" shape="angle right"></clr-icon>
                <span style="font-weight: bolder;"> Submit Query</span>
            </h3>


            <div *ngIf="openQuery">
                <div class="query-form-dis">
                    <form clrForm class="form-dim">
                        <div class="clr-form-control clr-row">
                            <label for="name" class="clr-control-label clr-col-4">Name</label>
                            <div class="clr-control-container clr-col-8">
                                <div class="clr-input-wrapper">
                                    <input type="text" id="name" name="name" placeholder="Name"
                                        class="clr-input input-width" [(ngModel)]="query.name" required>
                                </div>
                            </div>
                        </div>
                        <div class="clr-form-control clr-row">
                            <label for="textarea" class="clr-control-label clr-col-4">Is there anything you would like
                                to tell
                                us?</label>
                            <div class="clr-control-container clr-col-8">
                                <div class="clr-textarea-wrapper">
                                    <textarea id="textarea" placeholder="Description" name="description"
                                        [(ngModel)]="query.desc" class="clr-textarea textarea-dim"></textarea>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-outline marginTop" (click)="QuerySuccess=true">Submit</button>
                        <div *ngIf="QuerySuccess" style="color: green;">
                            <clr-icon shape="check-circle"></clr-icon>
                            <span>Query Submitted Successfully.</span>
                        </div>
                    </form>
                </div>
            </div>

        </div>
       
    </div>
</div>

