<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="event"></clr-icon>
                <span class="title" style="font-weight: bold; font-size: 20px;">Digital Event Manager</span>
            </a>
        </div>
        <div class="header-actions">
            <span *ngIf="!username" class="nav-link nav-icon" aria-label="settings"
                (click)="openSignupModal=false; openLoginModal=true">
                <clr-icon shape="user" class="is-solid"></clr-icon>
            </span>
            <clr-dropdown *ngIf="username">
                <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
                    {{username}}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <span (click)="onLogout()" clrDropdownItem>Log out</span>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>

    <!-- <div class="add-margin">
        <clr-tabs>
            <clr-tab class="mgn">
                <button clrTabLink class="design-nav mgn">About</button>
                    <clr-tab-content>
                        <app-about (clicked)='onclickEvent($event)' (logged)="loginRequired($event)"></app-about>
                    </clr-tab-content>
            </clr-tab>
            <clr-tab>
                <button clrTabLink class="design-nav mgn">Dashboard</button>
                <ng-template [(clrIfActive)]="DashboardActive">
                    <clr-tab-content>
                        <app-banner></app-banner>
                        <app-events></app-events>
                    </clr-tab-content>
                </ng-template>
            </clr-tab>
            <clr-tab>
                <button clrTabLink class="design-nav  mgn">Upcoming Events</button>
                <clr-tab-content>
                    <app-upcoming-events></app-upcoming-events>
                </clr-tab-content>
            </clr-tab>
            <clr-tab>
                <button clrTabLink class="design-nav  mgn">Feedback</button>
                <clr-tab-content>
                    <app-contact-us></app-contact-us>
                </clr-tab-content>
            </clr-tab>
            <clr-tab>
                <button clrTabLink class="design-nav  mgn">FAQ's</button>
                <ng-template [(clrIfActive)]="FaqActive">
                    <clr-tab-content>
                        <app-faq></app-faq>
                    </clr-tab-content>
                </ng-template>
            </clr-tab>
        </clr-tabs>
    </div> -->


    <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#about" (click)="setActive('about')"
                    [ngClass]="{'active': getActive('about')}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#dashboard" (click)="setActive('dashboard')"
                    [ngClass]="{'active': getActive('dashboard')}">Dashboard</a>
                    
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#upcomingEvents" (click)="setActive('upEvents')"
                    [ngClass]="{'active': getActive('upEvents')}">Upcoming events</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#feedback" (click)="setActive('contactUs')"
                    [ngClass]="{'active': getActive('contactUs')}">Feedback</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#faq" (click)="setActive('FAQ')"
                    [ngClass]="{'active': getActive('FAQ')}">FAQ's</a>
            </li> -->
        </ul>
    </nav>
    <router-outlet></router-outlet>


    <clr-modal [clrModalOpen]="openLoginModal" [clrModalClosable]="false" [clrModalSize]="'lg'">
        <div class="modal-body">
            <div class="login-wrapper" style="background-image: url(assets/event.jpg); background-size: 60%;">
                <form class="login" style="justify-content: unset; min-height: 0em;">
                    <div class="login-group" style="padding: 0;">
                        <clr-input-container>
                            <label class="clr-sr-only">Username</label>
                            <input type="text" name="username" clrInput placeholder="Username"
                                [(ngModel)]="form.username" />
                        </clr-input-container>
                        <clr-password-container>
                            <label class="clr-sr-only">Password</label>
                            <input type="password" name="password" clrPassword placeholder="Password"
                                [(ngModel)]="form.password" />
                        </clr-password-container>
                        <clr-checkbox-wrapper>
                            <label>Remember me</label>
                            <input type="checkbox" name="rememberMe" clrCheckbox />
                        </clr-checkbox-wrapper>
                        <button type="submit" class="btn btn-primary" style="margin: 0;" (click)="onLogin()"
                            [disabled]="!form.username || !form.password">Login</button>
                        <span class="signup blue_underline" (click)="openLoginModal=false; openSignupModal=true">Sign
                            up</span>
                    </div>
                </form>
            </div>
        </div>
    </clr-modal>


    <clr-modal [clrModalOpen]="openSignupModal" [clrModalClosable]="false" [clrModalSize]="'lg'">
        <div class="modal-body">
            <div class="login-wrapper" style="background-image: url(assets/event.jpg); background-size: 65%;">
                <form class="login" style="justify-content: unset; min-height: 0em;">
                    <div class="login-group" style="padding: 0;">
                        <clr-input-container>
                            <label class="clr-sr-only">Email</label>
                            <input type="text" name="email" clrInput placeholder="Email" [(ngModel)]="form.email" />
                        </clr-input-container>
                        <clr-input-container>
                            <label class="clr-sr-only">Username</label>
                            <input type="text" name="username" clrInput placeholder="Username"
                                [(ngModel)]="form.username" />
                        </clr-input-container>
                        <clr-password-container>
                            <label class="clr-sr-only">Password</label>
                            <input type="password" name="password" clrPassword placeholder="Password"
                                [(ngModel)]="form.password" />
                        </clr-password-container>
                        <clr-checkbox-wrapper>
                            <label>Remember me</label>
                            <input type="checkbox" name="rememberMe" clrCheckbox />
                        </clr-checkbox-wrapper>
                        <button type="submit" class="btn btn-primary" style="margin: 0;" (click)="onSignup()"
                            [disabled]="!form.username || !form.password">Signup</button>
                        <span class="signup blue_underline" (click)="openSignupModal=false; openLoginModal=true; onSignIn()">Sign
                            in</span>
                    </div>
                </form>
            </div>
        </div>
    </clr-modal>
</div>